$main-color: #12141b;
$text-color: #dcd8d3;
$secondary-color: #1e2028;
$accent-color: #cf7b5a;
$label-color: #8c8988;
$border-color: #303238;
$button-bg: #4b4e5b;
$button-border: rgba(255, 44, 71, 0.2);
$scrollbar-color: #7a7a7a;
$scrollbar-bg: rgb(38, 39, 47);